
.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

p {
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    line-height: 1;
    text-indent: 10px;
}


.blog-post-1 {
   background-color: blue;

    
}

.blog-post-2 {
    background-color: blueviolet;
   
}

.blog-post-3 {
    background-color: chocolate;
    
}

