.contact-box {
    margin-top: 100px;
    margin-left: 900px;
    disaply: flex;
    flex-direction: row-reverse;
}

h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}