

.centered-heading {
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    
}

.contact-container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 50px;
}

.social-media-container {
    display: inline-table;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-family: "Ubuntu Mono", monospace;
    line-height: 32px;
    background-color: #fff;
    
}

.contact-form {
    background: blue;
    font-family: "Lato", sans-serif;
    font-family: "Ubuntu Mono", monospace;
    line-height: 1;
    text-indent: 10px;
    padding: 30px;
    width: 400px;
    height: 400px;
    display: grid;
    flex-wrap: wrap;

    .message {
        background-color: green;
        text-align: left;
    }
}
