.footer {
    background-color: cadetblue;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    
#copywrite, #social-media-links {
    float: left;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    font-size: small;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 15px;
    
    #social-media-links {
    float: right;
        }
    }
}
