
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centered-heading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
   
}
