

.home-container,  img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}



/*image media queries*/

@media (min-device-width: 320px) {
    img[data-src-320px] {
        content: attr(data-src-320px, url);
    }
}

@media (min-device-width:480px) {
    img[data-src-480px] {
        content: attr(data-src-480px, url);
    }
}

@media (min-device-width:768px) {
    img[data-src-768px] {
        content: attr(data-src-768px, url);
    }
}

@media (min-device-width:1060px) {
    img[data-src-1060px] {
        content: attr(data-src-1060px, url);
    }
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

@media screen and (min-width: 320px) {
    #main {
        width: 20%;
        overflow: inherit;
        padding: 0;
    } 
}

/* smartphones, Android phones, landscape iPhone */ 

@media screen and (min-width: 480px) {
    #main {
    width: 30%;
    overflow: inherit;
    padding: 0;    
    }
}


/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
        margin-top: 0;
    }

    #secondary { 
        width: 30%; 
        margin-left: 3%;
    }
}


/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { 
        width: 100%;
        margin-top: 0;
    }
    #secondary { 
        width: 100%; 
        margin-top: 0; 
        border: none;
        
    }
}



