
@import "home-container"; 
@import "navbar";
@import "about-container";
@import "blog-container";
@import "contact-form";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 216, 223);

}

.centered-heading {
    display: flex;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
}
