
@import "home-container"; 
@import "navbar";
@import "about-container";
@import "blog-container";
@import "contact-form";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered-heading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
   
}

body {
    background-color: rgb(252, 216, 223);
}


.bottom-heading {
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    align-content: flex-end;

}

.title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: 20px;
    margin-bottom: 20px;
}

